body {
  font-family: Arial, Helvetica, serif;
  font-size: 15px;
  font-weight: 500 bold;
  color: rgb(243, 88, 197)
}

img {
  width: 20em;
  border-radius: 10px;
  height: 500px;
  border: 5px solid #000000;
  margin-top: 50px; 
  margin-left: 50px;
}

.container {
  max-width: 800px;
  margin: 8 auto;
  margin-top: 10vh;
}

.article {
  background-color: rgb(255, 255, 255);
  height: 600px;
  width: 1000px;
  border: 1px solid rgb(0, 0, 0);
  padding: 8px;
  border-radius: 20px;
}

.name {
  font-family: Arial, Helvetica, serif;
  font-size: 20px;
  font-weight: 500 bold;
  color: rgb(0, 0, 0);
  text-align: right;
  margin-top: -400px;
  margin-right: 300px;

  
}

.naam {
  font-family: Arial, Helvetica, serif;
  font-size: 15px;
  font-weight: 500 bold;
  color: rgb(243, 88, 197);
  text-align: right;
  margin-right: -400px;
  margin-top: 300px;
}

.value {
  font-size: 20px;
  font-weight: 500 bold;
  color: rgb(0, 0, 0);
}

.label {
  font-size: 15px;
  font-weight: 500 bold;
  color: rgb(243, 88, 197)
}


p {
  font-family: Arial, Helvetica, serif;
  font-size: 15px;
  font-weight: 500;
  color: rgb(255, 79, 226);
}

h1 {
  font-family: Arial, Helvetica, serif;
  font-size: 25px;
  font-weight: 500 bold;
  color: rgb(0, 0, 0);
}

h2 {
  font-family: Arial, Helvetica, serif;
  font-size: 20px;
  font-weight: 500 bold;
  color: rgb(0, 0, 0);
}

p1 {
  font-size: 15px;
  font-weight: 500 bold;
  color: rgb(0, 0, 0);
}




